[submodule "themes/hugo-take-theme"]
	path = themes/hugo-take-theme
	url = https://github.com/takeokunn/hugo-take-theme.git
[submodule "themes/hugo-theme-jane"]
	path = themes/hugo-theme-jane
	url = https://github.com/xianmin/hugo-theme-jane.git
