<!-- Web page content width -->
{{ $maxWidth := 800 }}
{{ $original := .Page.Resources.GetMatch (.Get "src") }}

{{ if $original }}
  {{ if gt $original.Width $maxWidth }}
    {{ .Scratch.Set "preview" ($original.Resize (print $maxWidth "x")).RelPermalink }}
  {{ end }}
{{ end }}

{{ if (.Scratch.Get "preview") }}
  {{ if .Get "link" }}
    {{ .Scratch.Set "link" (.Get "src") }}
  {{ else }}
    {{ .Scratch.Set "link" (.Get "src") }}
  {{ end }}
{{ else }}
  {{ .Scratch.Set "preview" (.Get "src") }}
  {{ .Scratch.Set "link" (.Get "src") }}
{{ end }}

<!-- Strip "Figure X: " from caption -->
{{ $caption := replaceRE "^Figure [0-9]+: " "" (.Get "caption") }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  <a href="{{ .Scratch.Get "link" }}" target="{{ .Get "target" | default "_blank" }}" rel="noopener noreferrer">
    <img src="{{ .Scratch.Get "preview" }}"
         {{- if or (.Get "alt") $caption }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ $caption | markdownify | plainify }}{{ end }}"
         {{ end }}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
         loading="lazy"
    />
  </a>

  {{- if or $caption (.Get "attr") -}}
    <figcaption>
      {{- if or $caption (.Get "attr") -}}<p>
        {{- $caption | markdownify -}}
        {{- with .Get "attrlink" }}
            <a href="{{ . }}">
        {{ end -}}
        {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
    </figcaption>
  {{- end }}
</figure>
