<!-- Web page content width -->
{{ $maxWidth := 800 }}
{{ $src := .Get "src" }}
{{ $caption := replaceRE "^Figure [0-9]+: " "" (.Get "caption") }}

{{ $preview := $src }}
{{ $link := $src }}

{{ with .Page.Resources.GetMatch $src }}
  {{/* Rotate image according to EXIF metadata */}}
  {{ $fixed := .Filter images.AutoOrient }}
  {{ $link = $fixed.RelPermalink }}
  {{ if gt $fixed.Width $maxWidth }}
    {{ $preview = ($fixed.Resize (printf "%dx" $maxWidth)).RelPermalink }}
  {{ else }}
    {{ $preview = $fixed.RelPermalink }}
  {{ end }}
{{ end }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  <a href="{{ $link }}" target="{{ .Get "target" | default "_blank" }}" rel="noopener noreferrer">
    <img
      src="{{ $preview }}"
      {{- if or (.Get "alt") $caption }}
      alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ $caption | markdownify | plainify }}{{ end }}"
      {{- end }}
      {{- with .Get "width" }} width="{{ . }}"{{ end }}
      {{- with .Get "height" }} height="{{ . }}"{{ end }}
      loading="lazy"
    />
  </a>

  {{- if or $caption (.Get "attr") -}}
    <figcaption><p>
      {{- $caption | markdownify -}}
      {{- with .Get "attrlink" }}<a href="{{ . }}">{{ end -}}
      {{- .Get "attr" | markdownify -}}
      {{- if .Get "attrlink" }}</a>{{ end -}}
    </p></figcaption>
  {{- end }}
</figure>
